<!doctype html>
<html class=no-js lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>BBS</title>
    <link rel=stylesheet href="/assets/vendor.css">
    <link rel=stylesheet href="/assets/style.css">
    <link rel=stylesheet href="/assets/font-awesome.css">
  </head>
  <body data-spy=scroll data-target=#header-navbar data-offset=140>
    <div id=page-start-anchor></div>
   
    <section class="hero hero-fullscreen jarallax" data-speed=0.2 style="min-height: calc(100vh - 140px)">
      <div class=hero-background>
        <img src="/assets/Letterpress-background.jpg" alt="hero background" class=jarallax-img>
        <div class=hero-background-overlay style="background-color: rgba(0,0,0,.5)"></div>
      </div>
      <div class="hero-foreground container d-flex flex-column justify-content-center">
        <div class="py-14 py-md-23 py-lg-25">
          <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="fs-10 fs-lg-11 mb-0 font-weight-bold text-white"></h1>
            <p class="mt-7 mb-10 text-white fs-5" style="max-width: 530px"></p>
            <a href="javascript:void();" class="btn btn-lg btn-primary">Get a free estimate</a>
          </div>
          <div class="row align-items-center mt-14 mt-md-23 mt-lg-25">
            <div class="col-12 col-md-4">
              <div class="card border-0 bg-transparent mb-10 mb-md-0">
                <div class="card-body p-0 text-center">
                  <div class="card-icon text-white mb-6"><i class=material-icons>location_on</i></div>
                  <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">Our location</div>
                  <p class="mb-0 text-white">Address: 11 Cherni vrah Blvd,</p>
				   <p class="mb-0 text-white">ap.1, fl.1 - 1421 - Sofia</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card border-0 bg-transparent mb-10 mb-md-0">
                <div class="card-body p-0 text-center">
                  <div class="card-icon text-white mb-6"><i class=material-icons>phone</i></div>
                  <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">Contact phone</div>
                  <p class="mb-0 text-white">+359888929816</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card border-0 bg-transparent">
                <div class="card-body p-0 text-center">
                  <div class="card-icon text-white mb-6"><i class=material-icons>verified_user</i></div>
                  <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-75">VAT</div>
                  <p class="mb-0 text-white">BG17713087</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=section id=about>
      <div class="section-content container text-center">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Bulgarian Business Solutions</small>
        <h1 class=mb-0>BBS LTD</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
          <div class="col-12 col-lg-10 offset-0 offset-lg-1">
            <p>Thanks to the extraordinary relationships undertaken with our customers, we are a reference player in the international trading of printing presses sector. Unlike the competition, we have invested primarily in developing a personal connection with each of our customers, providing quality service and assistance 24/7. To find out more, contact us: we cant wait to meet you!</p>
          </div>
        </div>
        <div class="row mt-6 mt-md-10 mt-lg-17 vertical-divider-light">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
                <div class="card-icon mb-6"><img src="assets/yelp.svg" alt="yelp icon" width=45></div>
                <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">4.5 stars on Yelp</div>
                <div class=star-rating><i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star_half</i></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
                <div class="card-icon mb-6"><img src="assets/g.svg" alt="google icon" width=45></div>
                <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">5 stars on Yelp</div>
                <div class=star-rating><i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
                <div class="card-icon mb-6"><img src="assets/houzz.svg" alt="houzz icon" width=45></div>
                <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">5 stars on Houzz</div>
                <div class=star-rating><i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 d-flex flex-column align-items-center">
                <div class="card-icon mb-6"><img src="assets/fb.svg" alt="facebook icon" width=45></div>
                <div class="fs-1 lh-1 mb-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">4.7 stars on Facebook</div>
                <div class=star-rating><i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star</i> <i class=material-icons>star_half</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=section id=services>
      <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
          <div class="text-center text-sm-left">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted"></small>
            <h1>Services</h1>
          </div>
          <div class="d-none d-sm-block">
            <div class=btn-group><button type=button class="btn btn-light btn-square" data-toggle=card-slider data-target=#testimonials-slider data-action=prevSlide><i class=material-icons>arrow_left</i></button> <button type=button class="btn btn-light btn-square" data-toggle=card-slider data-target=#testimonials-slider data-action=nextSlide><i class=material-icons>arrow_right</i></button></div>
          </div>
        </div>
        <div class="card-slider card-slider-viewport card-slider-services mt-15" id=testimonials-slider>
          <article class=card-slider-item>
            <div class="card border-light card-accent-left" data-mh=testimonials-slider>
              <div class="card-body p-19 p-md-20 d-flex flex-column">
                <div class="d-flex align-items-center">
                  <div class=ml-9>
                    <div class="text-black font-weight-medium fs-5 lh-5 mb-4">SALES</div>
                  </div>
                </div>
                <blockquote class=my-14>
                  <p>we find for you the best and trustable customers for your product. Book today and experience for yourself the excellent quality of our service.
                    We will help you create a tailor-made solution according to your specific needs.
                    Our team works non-stop to always guarantee delivery within the stipulated deadline.</p>
                </blockquote>                
              </div>
            </div>
          </article>
          <article class=card-slider-item>
            <div class="card border-light card-accent-left" data-mh=testimonials-slider>
              <div class="card-body p-19 p-md-20 d-flex flex-column">
                <div class="d-flex align-items-center">
                  <div class=ml-9>
                    <div class="text-black font-weight-medium fs-5 lh-5 mb-4">INTERNATIONAL BUSINESS</div>
                  </div>
                </div>
                <blockquote class=my-14>
                  <p>Thanks to many years of experience in the graphics sector, our company has developed many international contacts, which feed our business every day. In recent years, relations with Italy, Croatia and Asia have intensified a lot. Our philosophy places no limits on territoriality.</p>
                </blockquote>
              </div>
            </div>
          </article>
          <article class=card-slider-item>
            <div class="card border-light card-accent-left" data-mh=testimonials-slider>
              <div class="card-body p-19 p-md-20 d-flex flex-column">
                <div class="d-flex align-items-center">
                  <div class=ml-9>
                    <div class="text-black font-weight-medium fs-5 lh-5 mb-4">TRADE EQUIPMENTS</div>
                  </div>
                </div>
                <blockquote class=my-14>
                  <p>BBS Ltd is a trading company. We find for you the best solution of equipment and printing machines available on the market and / or we promote your used equipment at no cost. But our business is not linked only to the graphics sector, in fact ours is a 360 ° business in the world. We promote anything and find the best solutions in the market for our customers</p>
                </blockquote>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <section class=section id=why-choose-us>
      <div class="section-content text-center container">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">general contractors in Sofia</small>
        <h1>Why Choose Us</h1>
      </div>
      <div class="sds-block mt-14 mt-xl-20">
        <div class="sds-block-background sds-block-background-right" style="background-image: url('assets/image5.jpg')"></div>
        <div class="sds-block-foreground sds-block-foreground-left text-center text-xl-left">
          <ul class="list-unstyled mb-12">
    
            <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start"><i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Easy to understand contracts</li>
            <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start"><i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Knowledgeable technical consultant who help along the way</li>
            <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start"><i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Credibility in the market thanks to a serious and correct relationship</li>
            <li class="d-flex align-items-center justify-content-center justify-content-xl-start"><i class="material-icons text-primary mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Long list of satisfied Bulgaria clients</li>
          </ul>
          <a href="javascript:void();" class="btn btn-lg btn-primary">Get a free estimate</a>
        </div>
      </div>
    </section>
   
    <section id=contacts>
      <div class="section bg-secondary">
        <div class="section-content container">
          <div class=text-center>
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">We answer within 24 hours</small>
            <h1>Contact Us</h1>
          </div>
        </div>
      </div>
      <div class="container py-19 py-lg-20">
        <div class="row vertical-divider-light">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 text-center">
                <div class="card-icon mb-6"><i class=material-icons>location_on</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">By appointment only</div>
                <p class="mb-0 text-body">11 Cherni vrah Blvd, <br>ap.1, fl.1 - 1421 - Sofiass</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 text-center">
                <div class="card-icon mb-6"><i class=material-icons>phone</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Mobile phone</div>
                <p class="mb-0 text-body">+359888929816</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 text-center">
                <div class="card-icon mb-6"><i class=material-icons>access_time</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Working hours</div>
                <p class="mb-0 text-body">9 am to 5 pm from monday to friday</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="card border-0">
              <div class="card-body py-17 px-10 text-center">
                <div class="card-icon mb-6"><i class=material-icons>alternate_email</i></div>
                <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">Email</div>
                <p class="mb-0 text-body">info@bbstrading.eu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=gmap>
       <div class=gmap-embed data-parallax-speed=0>
		 <div class="mapouter">
		  <div class="gmap_canvas">
			<iframe width="4000" height="571" id="gmap_canvas" src="https://maps.google.com/maps?q=11%20Cherni%20vrah%20Blvd,%20ap.1,%20fl.1%20-%201421%20-%20Sofia&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br>
			<style>.mapouter{position:relative;text-align:right;height:571px;width:4000px;}</style>
			<a href="https://www.embedgooglemap.net">google maps link generator</a>
			<style>.gmap_canvas {overflow:hidden;background:none!important;height:571px;width:4000px;}</style>
		  </div>
		</div>
       </div>
  </div>
    </section>
    <section class="footer bg-secondary">
      <div class="container py-19 py-sm-23 py-lg-25">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-5 mb-14 mb-md-0">
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
              <a href="javascript:void();" class=footer-brand>BBS LTD</a>
              <div class="brand-icons-list ml-10 ml-sm-20"><a href="javascript:void();" class="brand-icon brand-icon-circle brand-icon-facebook"><i class="fa fa-facebook-f"></i> </a><a href="javascript:void();" class="brand-icon brand-icon-circle brand-icon-twitter"><i class="fa fa-twitter"></i> </a><a href="javascript:void();" class="brand-icon brand-icon-circle brand-icon-pinterest"><i class="fa fa-pinterest-p"></i></a></div>
            </div>
          </div>
          <div class="col-12 col-lg-2 text-center d-none d-lg-block"><a href="javascript:void();" class=footer-icon data-toggle=smooth-scroll data-target=#page-start-anchor><i class=material-icons>arrow_upward</i></a></div>
          <div class="col-12 col-md-6 col-lg-5 text-center text-md-right">
            <ul class=footer-menu>
              <li><a href="javascript:void();">11 Cherni vrah Blvd,
ap.1, fl.1 - 1421 - Sofiass</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176058743-1"></script><script>window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-176058743-1');
    </script><script src="/assets/custom/vendor.js"></script><script src="/assets/custom/polyfills.js"></script><script src="/assets/custom/app.js"></script>
  </body>
</html>