<div class="row">
  <div class="col-sm-6">
    <div class="input-group-append" >
      <%= f.label :name %>
    </div>
    <div class="input-group-append" >
      <%= f.text_field :name, class: "form-control", :size => '90' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="input-group-append" >
      <%= f.label :category %>
    </div> 
    <div class="input-group-append" >
     <%= f.select(:ancestry, options_for_select(category_options_array, selected: f.object.ancestry ),{ include_blank: true}, class: 'form-control') %>
    </div>
  </div>
</div><br/>
