<div class="content">
  <div class="sub_box">
    <div class="wrap">
      <div class="col text-center text-uppercase">
        <h3>Products</h3>
      </div><br />
      <div class="ProductA">
        <div class="pr_box">
          <ul class="clearfix">
            <% @products.each do | product | %>
              <li>
                <%= link_to admin_product_path(:id => product.id), :name => product.name do %>
                  <% if product.image.attached? %>
                    <div class="pr_img">
                      <%= image_tag(product.image, :alt => product.name, :style => "margin-left: auto;margin-right: auto;", class: 'card-impr_imgg-top') %>
                    </div>
                  <% end %>
                <% end %>
                <div class="pr_txt text-center text-capitalize text-dark">
                  <%= product.name %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="pagination justify-content-center">
        <%= paginate @products, theme: 'bootstrap-5', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
      </div>
    </div>
  </div>
</div>